body{
	background-color:  #337FFF;
}

h1{
	margin-left: 340px;
	font-size: 50px;
	color: black;
	font-family: "Verdana", sans-serif;
}

img{
	margin-left: 300px;
	border-radius: 10px;
}
p {
	color: black;
	font-family: "Verdana", sans-serif;
	font-size: 30px;
	margin-left: 180px;
	
}